:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.Titulo {
  text-align: center;
  font-size: 70px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  column-gap: 10px ;
  row-gap: 10px;
  justify-content: center;

}

.item {
  background-color: #816cf8;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 45px;
  text-align: center;
}